services:
  nextjs:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@postgres:5432/vercelclone?schema=public
      - NEXTAUTH_URL=http://localhost
      - NEXTAUTH_SECRET=sjbkjdbfsdfbk
    volumes:
      - ./builds:/app/builds
      - ./deployments:/app/deployments
    depends_on:
      - postgres
    restart: unless-stopped

  builder:
    build:
      context: .
      dockerfile: Dockerfile.builder
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@postgres:5432/vercelclone?schema=public
      - NODE_ENV=development
    volumes:
      - ./builds:/app/builds
      - ./deployments:/app/deployments
    depends_on:
      - postgres
    restart: unless-stopped

  postgres:
    image: postgres:13
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=vercelclone
    ports:
      - '5432:5432'
    volumes:
      - postgres-data:/var/lib/postgresql/data
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    ports:
      - '80:80'
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./deployments:/usr/share/nginx/html
    depends_on:
      - nextjs
    restart: unless-stopped

volumes:
  postgres-data:
